@inject NavigationManager NavManeger
@page "/Admin"

@foreach(var User in UserList)
{
    <div class="card">
        <div class="card-body">
            <h2>@User.UserName</h2>
            <div class="DeleteUserBtn">

            </div>
        </div>
    </div>
}



@code {
    ICollection<UserModel>? UserList { get; set; } = new List<UserModel>();
    ICollection<ChatModel>? ChatList { get; set; } = new List<ChatModel>();
    UserModel CurrentUser = new();

    protected override async Task OnInitializedAsync()
    {
        var user = await UserService.GetUserClaim();
        CurrentUser = user.user;
        UserList = await UserService.GetAllUsers();
        ChatList = await ChatService.GetChats();
        StateHasChanged();
    }
}

