@inject IChatService ChatService
@inject IUserService UserService
@page "/ChatPage"


<h3>ChatPage</h3>
<EditForm Model="Chat" OnValidSubmit="CreateChat">
    <InputText @bind-Value="Chat.Name" placeholder="Chat name"></InputText>
</EditForm>
@foreach (var item in Chats)
{
    <h1>@item.Name</h1>
}
@code {
    ChatModel Chat { get; set; } = new();
    UserModel User { get; set; } = new();
    List<ChatModel> Chats { get; set; } = new();
    UserModel UserToAdd { get; set; } = new();
    public async Task CreateChat()
    {
        var getuser = await UserService.GetUserClaim();
        if (getuser.Message == "Success")
        {
            User = getuser.user;
            if (User != null)
            {
                Chat.ChatCreated = DateTime.Now;
                Chat.UserId = User.Id;
                Chat.CreatorId = User.Id;
                await ChatService.CreateChat(Chat);
                foreach (var item in User.Chats)
                {
                    Chats.Add(item);
                }
            }
            
        }
    }
}