@page "/Conversations"

<div class="message">
    <input type="text" name="txt" placeholder="Write something..." required="">
    <button class="oi oi-location" aria-hidden="true"></button>
</div>

@code {

}
