@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.SignalR.Client;

@page "/conversations"

<div class="message">
	<input class="messageinput" type="text" name="txt" placeholder="Write something..." wrap="hard" rows="5" cols="30" required="">
	<button class="oi oi-pencil" aria-hidden="true" id="Pencil"></button>
	<button class="oi oi-trash" aria-hidden="true" id="Trash"></button>
	<button class="oi oi-location" aria-hidden="true" id="Send"></button>
</div>

@code {
    // flag to indicate chat status
    private bool _isChatting = false;

    // name of the user who will be chatting
    //private string _username;
    public UserModel _username { get; set; }

    // on-screen message
    //private string _message;
    public MessageModel _message { get; set; }
    
    // new message input
    //private string _newMessage;
    public MessageModel _newMessage { get; set; }
    // list of messages in chat
    private List<MessageModel> _messages = new List<MessageModel>();

    private string _hubUrl;
    private HubConnection _hubConnection;

    public async Task Chat()
    {
        // check username is valid
        if (string.IsNullOrWhiteSpace(_username.UserName))
        {
            _message.Message = "Please enter a name";
            return;
        };

        try
        {
            // Start chatting and force refresh UI.
            _isChatting = true;
            await Task.Delay(1);

            // remove old messages if any
            _messages.Clear();

            // Create the chat client
            string baseUrl = NavigationManager.BaseUri;

            _hubUrl = baseUrl.TrimEnd('/') + "/conversations";

            _hubConnection = new HubConnectionBuilder()
                .WithUrl(_hubUrl)
                .Build();

            _hubConnection.On<string, string>("Broadcast", BroadcastMessage);

            await _hubConnection.StartAsync();

            await SendAsync($"[Notice] {_username} joined chat room.");
        }
        catch (Exception e)
        {
            _message.Message = $"ERROR: Failed to start chat client: {e.Message}";
            _isChatting = false;
        }
    }

    private void BroadcastMessage(string name, string message)
    {
        bool isMine = name.Equals(_username.UserName, StringComparison.OrdinalIgnoreCase);

        _messages.Add(new MessageModel()
        {
            Id = +1,
            Message = message,
            UserId = _username.Id,
            MessageCreated = DateTime.Now,
            IsMessageEncrypted = _message.IsMessageEncrypted
            
        }
            );

        // Inform blazor the UI needs updating
        InvokeAsync(StateHasChanged);
    }

    private async Task DisconnectAsync()
    {
        if (_isChatting)
        {
            await SendAsync($"[Notice] {_username} left chat room.");

            await _hubConnection.StopAsync();
            await _hubConnection.DisposeAsync();

            _hubConnection = null;
            _isChatting = false;
        }
    }

    private async Task SendAsync(string message)
    {
        if (_isChatting && !string.IsNullOrWhiteSpace(message))
        {
            await _hubConnection.SendAsync("Broadcast", _username, message);

            _newMessage.Message = string.Empty;
        }
    }

    /*private class Message
    {
        public Message(string username, string body, bool mine)
        {
            Username = username;
            Body = body;
            Mine = mine;
        }

        public string Username { get; set; }
        public string Body { get; set; }
        public bool Mine { get; set; }

        public bool IsNotice => Body.StartsWith("[Notice]");

        public string CSS => Mine ? "sent" : "received";
    }*/
}