@page "/Conversations"

<div class="message">
	<input class="messageinput" type="text" name="txt" placeholder="Write something..." wrap="hard" rows="5" cols="50" required="">
	<button class="oi oi-location" aria-hidden="true"></button>
</div>

@code {
	
}
