@inherits LayoutComponentBase
@layout MainLayout;

@page "/"

<PageTitle>About Nchat</PageTitle>
<AuthorizeView>
    <Authorized>
          You are authorized! @*<MudButton Color="Color.Dark" Variant="Variant.Filled" @onclick="Disconnect">Signout</MudButton>*@
    </Authorized>
</AuthorizeView>


<h1>StartPage/ About Nchat</h1>

@code {

    //below is moved to NavMenu.razor
    /*private async Task Disconnect()
    {
        await UserService.Signout();
        await LocalStorageService.RemoveItemAsync("isauthenticated");
    }*/
}