@inject ILocalStorageService LocalStorageService

@inherits LayoutComponentBase
@layout MainLayout;

@page "/"

<PageTitle>About Nchat</PageTitle>
<AuthorizeView>
    <Authorized>
          You are authorized!
    </Authorized>
</AuthorizeView>
<MudButton Color="Color.Dark" Variant="Variant.Filled">TestButton</MudButton>

<h1>StartPage/ About Nchat</h1>

@code {

}