@inject IUserService UserService
@page "/LegalInformation"

@if (PageHasLoaded)
{
    <h1>Legal Information</h1>
    <p>We want you to know that your privacy is important to us, and that's why we want to make sure you're aware of your rights under GDPR. You have the right to access, correct, and delete your personal data, as well as the right to request a limitation of its processing or to object to its processing. You also have the right to data portability, which means you can receive your personal data in a format that's easy for you to use and share with others, and to transmit it to another controller without any trouble.</p>
    <p>You also have the right not to be subject to automated individual decision-making, including profiling.</p>
    <p>If you ever want to see what personal data we have on file for you, or if you want us to delete it, just let us know. We're happy to help. And if you ever notice that any of your personal data is incorrect or incomplete, we'll be happy to correct it for you.</p>
    <p>Just keep in mind that we'll need to verify your identity before we can give you access or make any changes. And if you ever have any concerns about how we handle your personal data, you can always reach out to the data protection authority.</p>
    <p>But please, if you have any questions or concerns, don't hesitate to contact us first. We're here to help.</p>
}

@code {
    [Parameter]
    public UserModel User { get; set; } = new();

    bool PageHasLoaded;
    protected override async Task OnInitializedAsync()
    {
        var currentuser = await UserService.GetUserClaim();
        if (currentuser.Message == "Success")
        {
            User = currentuser.user;
            PageHasLoaded = true;
            StateHasChanged();
            Console.WriteLine(User);
        }
    }

}
