@inject IUserService UserService;
@inject NavigationManager NavigationManager;
@page "/Login"

<div class="main">
	<input type="checkbox" id="chk" aria-hidden="true">
	<div class="login">
		<EditForm Model="user" OnValidSubmit="LoginUser">
			<label for="chk" aria-hidden="true">Login</label>
			<InputText @bind-Value="user.Username" id="Username" type="Username" placeholder="Username" class="input"></InputText>
			<InputText @bind-Value="user.Password" id="Password" type="password" placeholder="Password" class="input"></InputText>
			<button type="submit" href="/">Login</button>
		</EditForm>
	</div>

	<div class="signup">
		<form>
			<label for="chk" aria-hidden="true">Sign up</label>
			<input type="text" name="txt" placeholder="Username" required="">
			<input type="email" name="email" placeholder="Email" required="">
			<input type="password" name="pswd" placeholder="Password" required="">
			<button href="/">Sign up</button>
		</form>
	</div>
</div>

@code {
	[Parameter]
	public LoginModel user { get; set; } = new();

	//type="email" name="email" placeholder="Email" required=""
	//type="password" name="pswd" placeholder="Password" required=""
	public async Task LoginUser()
	{
		string result = await UserService.LoginUser(user);
		Console.WriteLine(result);
		NavigationManager.NavigateTo("/");
		StateHasChanged();
	}
}
