@page "/new_chat"
@layout Loginlayout

<div class="main">
	<input type="checkbox" id="chk" aria-hidden="true">

	<label class="oi oi-x" aria-hidden="true"></label>
	<div class="New-Chat">
		<form>
			<label for="chk" aria-hidden="true">Singel Chat</label>
			<input type="text" name="txt" placeholder="Username" required="">
			<button class="create">Create New Chat</button>
		</form>
	</div>

	<div class="New-Group-Chat">
		<form>
			<label for="chk" aria-hidden="true">Group Chat</label>
			<input type="text" name="txt" placeholder="Username 1" required="">
			<input type="text" name="txt" placeholder="Username 2" required="">
			<button class="create">Create New Group Chat</button>
		</form>
	</div>
</div>

@code {

}
