@page "/new_chat"
@layout Loginlayout
@inject NavigationManager NavigationManager

<AuthorizeView>
	<Authorized>
		<div class="main">
			<input type="checkbox" id="chk" aria-hidden="true">


			<div class="New-Chat">
				<form>
					<button class="oi oi-x" aria-hidden="true" id="cross" @onclick=@(() => NavigationManager.NavigateTo("/StartPage")) ></button>
					<label for="chk" aria-hidden="true">Singel Chat</label>
					<input type="text" id="singleChatMember" name="txt" placeholder="Username" required="">
					<input type="text" name="txt" placeholder="Chatname" required="">
					<input type="checkbox" name="isEncrypted"/>
                    <center>
                        <p>I want the chat encrypted </p>
					</center>
					<button class="create" @onclick=@(() => createNewChat())>Start Chat</button>
				</form>
			</div>

			<div class="New-Group-Chat">
				<form>
					<label for="chk" aria-hidden="true">Group Chat</label>
					<input type="text" id="chatMember1" name="txt" placeholder="Username 1" required="">
					<input type="text" name="txt" id="chatMember2" placeholder="Username 2" required="">
					<input type="checkbox" name="isEncrypted"/>
                    <center>
                        <p>I want the chat encrypted </p>
					</center>
					<button class="create"@onclick=@(() => createNewChat()) >Start Group Chat</button>
				</form>
			</div>
		</div>
	</Authorized>
	<NotAuthorized>
		<LoginDisplay/>
	</NotAuthorized>
</AuthorizeView>

@code {
	public ChatModel createNewChat()
	{





		//todo create method
		return null;
	}

}
