.card {
    margin-top: 15px;
    background: rgb(58, 6, 71);
    border-radius: 10px;
}

.card-title {
    font-weight: bold;
}

.btn {
    margin-right: 5px;
}

.row {
    max-height: 380px;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.UserContentHeader{
    display: grid;
    grid-row: auto;
    grid-template-columns: 50% 50%;
}

.UserContentHeaders {
    margin-top: 20px;
    width: 50%;
}

.UserContentSettings{
    display: grid;
    grid-template-columns: 50% 50%;
}

.UserContent {
    margin-top: 15px;
}

.UserContent {
    background: rgb(58, 6, 71);
    margin-top: 3%;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

.UserContent-heading {
    margin-bottom: 35px;
}

.UserContent-left {
    text-align: center;
    color: white;
    margin-top: 4%;
    margin-right: auto;
}

.UserContent-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: white;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.UserContent-right {
    background: white;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    margin-left: auto;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.UserContent .UserContent-form {
    padding: 10%;
    margin-left: 30px;
}

.UserContent-heading {
    color: rgb(58, 6, 71);
    font-weight: bolder;
}

.form-control {
    width: 140%;
    height: 20px;
    background: rgb(58, 6, 71);
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
}

.form-control::placeholder{
    color: white;
}

.btnUserContent {
    width: 140%;
    height: 40px;
    justify-content: center;
    display: block;
    color: white;
    background: rgb(58, 6, 71);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}