<div class="profile-container">
    <img src="profile-picture.jpg" alt="Profile Picture">
    <div class="username">Username</div>
    <div class="username-field">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div class="input-field">
        <label for="input">Enter Text:</label>
        <input type="text" id="input" name="input">
    </div>

    <button class="chat-request">Send Chat Request</button>
    <button class="delete-profile">Delete Profile</button>
</div>




    <div class="ProfileCard">
        <div class="UserContent" style="width: 30rem;"
	   <img src="" alt="Profile Picture" style="width: 150px; height: 150px; border-radius: 50%;">

    </div>
    </div>

@code {


}