@page "/Profile"
@layout ProfileSettingsLayout

<div>
	<h1 class="Request">Chat Requests:</h1>
</div>

<ProfileCard></ProfileCard>

<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 1</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 2</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 3</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username4</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 5</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 6</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 7</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 8</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 9</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 10</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 11</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 12</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Username 13</h5>
				<p class="card-text">Wants to create a chat with you. Wanna accept?</p>
				<a href="#" class="btn btn-success">Accept</a>
				<a href="#" class="btn btn-danger">Decline</a>
			</div>
		</div>
	</div>
</div>

<div class="UserContentHeader">
	<div>
		<h1 class="UserContentHeaders">Change Password:</h1>
	</div>
	<div>
		<h1 class="UserContentHeaders">Change Username:</h1>
	</div>
</div>

<div class="UserContentSettings">
	<div class="UserContent" style="width: 36rem;">
		<div class="UserContentRow">
			<div class="col-md-9 UserContent-right">
				<div class="row UserContent-form">
					<h3 class="UserContent-heading">Change Password</h3>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Old Password" value="" />
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="New Password" value="" />
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Confirm Password" value="" />
						</div>
						<div class="form-group">
							<button class="btnUserContent" type="submit">Change Password</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="UserContent" style="width: 36rem;">
		<div class="UserContentRow">
			<div class="col-md-9 UserContent-right">
				<div class="row UserContent-form">
					<h3 class="UserContent-heading">Change Username</h3>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Old Username" value="" />
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="New Username" value="" />
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Confirm Username" value="" />
						</div>
						<div class="form-group">
							<button class="btnUserContent" type="submit">Change Username</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@code {

}
