@inherits LayoutComponentBase

@page "/StartPage"

<h3>StartPage/ About Nchat</h3>

<p> Nchat is a chat application that allows you to chat with your friends and family in real time. </p>

<p>When using our application you agree to follow swedish law and not use Nchat for illegal purposes. </p> 


@code {

}
