.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 125px;
    background-image: linear-gradient(0deg, #1e2124 -55%, #6d6f72 120%);
}