@inject NavigationManager navigationManager
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <div class="top-row px-4">
            <input class="Searchbar" name="txt" placeholder="Search" required="">
            <button class="oi oi-person" aria-hidden="true" @onclick="@(() => navigationManager.NavigateTo("/Profile"))"></button>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <AuthorizeView>
            <NotAuthorized>
                <div class="center-authorize-login ">
                    <LoginDisplay></LoginDisplay>
                </div>
            </NotAuthorized>
            <Authorized>
                <article class="content px-4">
                    @Body
                </article>
            </Authorized>
        </AuthorizeView>
    </main>
</div>

