@inject NavigationManager navigationManager
@inherits LayoutComponentBase
@inject IUserService Userservice
@inject NavigationManager NavManager

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <div class="top-row px-4">
            <input class="Searchbar" name="txt" placeholder="Search" @bind="userName" required="">
            <button class="oi oi-magnifying-glass" @onclick="search"></button>
            <AuthorizeView>
                <Authorized>
                    <button class="oi oi-person" aria-hidden="true" @onclick="@(() => navigationManager.NavigateTo("/Profile"))"></button>
                </Authorized>
            </AuthorizeView>
            <a href="https://localhost:7280/StartPage" target="_blank">About</a>
        </div>
        <AuthorizeView>
            <NotAuthorized>
                <div class="center-authorize-login ">
                    <LoginDisplay></LoginDisplay>
                </div>
            </NotAuthorized>
            <Authorized>
                <article class="content px-4">
                    @Body
                </article>
            </Authorized>
        </AuthorizeView>
    </main>
</div>
@code{
    bool errorCheck = false;
    string? error;
    public string? userName{ get; set; }

    public void search()
    {
        if(userName == null)
        {
            error = "User is not Found";
            errorCheck = true;
        }
        NavManager.NavigateTo($"/profile/{userName}");
    }
}
