@inject NavigationManager navigationManager
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <input class="Searchbar" name="txt" placeholder="Search" required="">
            <button class="oi oi-person" aria-hidden="true" @onclick="@(() => navigationManager.NavigateTo("/Register"))"></button>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <AuthorizeView>
            <NotAuthorized>
                <div style="align-content: center; justify-content: center;">
                    <LoginDisplay></LoginDisplay>
                </div>
            </NotAuthorized>
            <Authorized>
                <article class="content px-4">
                            @Body
                        </article>
            </Authorized>
        </AuthorizeView>
    </main>
</div>
