.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background: rgb(58, 6, 71);
    border-bottom: solid;
    border-color: black;
    width: 15.6rem;
}

.navbar-brand {
    font-size: 1.1rem;
}

.Chat{
    color: white;
}

.oi {
    margin-top:5px;
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    font-weight: bolder;
}
.signOut {
/*make this button look like a nav-link */
    color: white;
    border: 5px solid black;
    height: 3rem;
    display: flex;
    text-align: left;
    line-height: 3rem;
    background: #424549;
    justify-content: flex-start;
    padding: 0 12px;
    font-size: 0.9rem;
    font-weight: bolder;
    margin: 0 1rem;
    width: 13.8rem;
}
/*when hovering on signOut*/
.signOut:hover {
    background-color: #1e2124;
    color: white;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        background: #424549;
    }

.nav-item ::deep a.active {
    background: #808080;
    color: white;
}

.nav-item ::deep a:hover {
    background-color: #1e2124;
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
