@using N_Chat.Client.Pages
@inject IUserService UserService
@using N_Chat.Client.Services;

<div class="top-row ps-3 navbar navbar-dark">
   <div class="container-fluid">
      <a class="navbar-brand" href="/StartPage">N-Chat</a>
      <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
         <span class="navbar-toggler-icon"></span>
      </button>
   </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
   <nav class="flex-column">
      <div class="nav-item px-3">
         <NavLink class="nav-link" href="/New_chat" Match="NavLinkMatch.All">
            <span class="oi oi-plus" aria-hidden="true"></span>
            <span class="Chat" aria-hidden="true">New Chat</span>
         </NavLink>
      </div>
      <div class="nav-item px-3">
         <NavLink class="nav-link" href="/LegalInformation">
            <span class="Chat" aria-hidden="true">Legal Information</span>
         </NavLink>
      </div>
      <div class="nav-item px-3">
         <NavLink class="nav-link" href="conversations">
            <span class="Chat" aria-hidden="true">Conversations</span>
         </NavLink>
      </div>
   </nav>
</div>

@code {

   [Parameter]
   public UserModel User { get; set; } = new();

   [Parameter]
   public List<ChatModel> Chats { get; set; } = new();

   /*get the logged in user, if success then we call the method GetTheChats*/

   protected override async Task OnInitializedAsync(){
      var currentuser = await UserService.GetUserClaim();
      if (currentuser.Message == "Success"){
         User = currentuser.user;
         StateHasChanged();
         GetTheChats();
      }
   }

   public HttpClient HttpClient { get; set; }

   private void GetTheChats(){
      ChatService chatService = new ChatService(HttpClient);

   //call method GetAll in class ChatController
      

      /*
      Chats = chatService.GetChats();*/
   }


   private bool collapseNavMenu = true;

   private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

   private void ToggleNavMenu(){
      collapseNavMenu = !collapseNavMenu;
   }

}