<div class="profile-container">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Profile Picture">
    <div class="username">Username</div>
    <div class="username-field">
        <label for="username">Username:</label>
        <input type="text" class="form-control" placeholder="Username" value="">
    </div>
    <div class="input-field">
        <label for="input">Create chatt with:</label>
        <input type="text" class="form-control" placeholder="Create chatt with" value="">
    </div>

    <button class="chat-request">Send Chat Request</button>
    <button class="delete-profile">Delete Profile</button>
</div>




    

@code {


}