@page "/profilecard"

<main>
	<MudThemeProvider />
	<MudDialogProvider />
	<MudSnackbarProvider />

	<div class="profile-container">
		<button class="oi oi-x" aria-hidden="true" id="cross" @onclick=@(() => NavigationManager.NavigateTo("/Profile"))></button>
		<MudAvatar Class="userAvatar">D</MudAvatar>
		<div class="username" id="usernametag">Username</div>

		<div class="Buttons">
			<button class="chat-request">Send Chat Request</button>
		</div>
	</div>
</main>




    

@code {

}